In [166]:
import pandas as pd

In [171]:
supply = pd.read_csv("CaisoSources2023")

In [172]:
#reverse the order of the dataframe to be in chronological order instead of reverse order 
supply = supply[::-1]
supply = supply.reset_index()

In [173]:
# A useful time index as the first column in the CSV
supply['Time'] = supply['Time'].astype(str)
supply["Date"] = supply["Date"].astype(str)
supply['datetime'] = supply["Date"] + ' ' + supply["Time"]
supply['datetime'] = pd.to_datetime(supply['datetime'])
supply.insert(0, 'datetime', supply.pop('datetime'))

In [174]:
supply.head()

,datetime,index,Unnamed: 0,Batteries,Biogas,Biomass,Coal,Date,Geothermal,Imports,Large Hydro,Natural Gas,Nuclear,Other,Small hydro,Solar,Time,Wind
0,2022-01-01 23:55:00,105103,287,-130.0,207,296,18,20220101,879,7271,1280,9941,2265,0,179,-43,23:55,1047
1,2022-01-01 23:50:00,105102,286,-57.0,207,291,17,20220101,879,7218,1291,9961,2265,0,194,-43,23:50,1079
2,2022-01-01 23:45:00,105101,285,-130.0,207,294,18,20220101,880,7384,1297,9983,2265,0,195,-43,23:45,1082
3,2022-01-01 23:40:00,105100,284,-77.0,206,292,18,20220101,880,7400,1306,9907,2264,0,195,-43,23:40,1108
4,2022-01-01 23:35:00,105099,283,-18.0,206,292,18,20220101,879,7483,1321,9880,2265,0,194,-42,23:35,1134

In [175]:
#Make hour a datetime object and make a column by energy type
supply['hour'] = supply['datetime'].dt.hour
supply['RENEWABLES'] = supply['Solar'] + supply['Wind'] + supply['Solar'] + supply['Geothermal'] + supply['Biomass'] + supply['Biogas'] + supply['Small hydro']
supply['THERMAL'] = supply['Coal'] + supply["Natural Gas"]
supply['Hydro'] = supply['Large Hydro']
supply = supply[['datetime', 'hour', 'RENEWABLES', 'Nuclear', 'THERMAL', 'Imports', 'Hydro', 'Geothermal', 'Biomass', 'Biogas', 'Small hydro', 'Wind', 'Solar', 'Batteries']]

In [176]:
supply

,datetime,hour,RENEWABLES,Nuclear,THERMAL,Imports,Hydro,Geothermal,Biomass,Biogas,Small hydro,Wind,Solar,Batteries
0,2022-01-01 23:55:00,23,2522,2265,9959,7271,1280,879,296,207,179,1047,-43,-130.0
1,2022-01-01 23:50:00,23,2564,2265,9978,7218,1291,879,291,207,194,1079,-43,-57.0
2,2022-01-01 23:45:00,23,2572,2265,10001,7384,1297,880,294,207,195,1082,-43,-130.0
3,2022-01-01 23:40:00,23,2595,2264,9925,7400,1306,880,292,206,195,1108,-43,-77.0
4,2022-01-01 23:35:00,23,2621,2265,9898,7483,1321,879,292,206,194,1134,-42,-18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105099,2022-12-31 00:20:00,0,5996,2250,7582,5946,2043,956,291,203,203,4413,-35,-502.0
105100,2022-12-31 00:15:00,0,6000,2249,7677,5590,2005,954,289,202,202,4423,-35,-382.0
105101,2022-12-31 00:10:00,0,6002,2248,7883,5405,1959,956,289,201,201,4425,-35,-241.0
105102,2022-12-31 00:05:00,0,6025,2250,8170,5398,2035,956,289,201,200,4449,-35,-493.0
105103,2022-12-31 00:00:00,0,6039,2249,8262,5335,2048,955,287,200,202,4465,-35,-591.0

In [177]:
#make column titles uppercase
supply.columns = supply.columns.str.upper()

In [178]:
supply

,DATETIME,HOUR,RENEWABLES,NUCLEAR,THERMAL,IMPORTS,HYDRO,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND,SOLAR,BATTERIES
0,2022-01-01 23:55:00,23,2522,2265,9959,7271,1280,879,296,207,179,1047,-43,-130.0
1,2022-01-01 23:50:00,23,2564,2265,9978,7218,1291,879,291,207,194,1079,-43,-57.0
2,2022-01-01 23:45:00,23,2572,2265,10001,7384,1297,880,294,207,195,1082,-43,-130.0
3,2022-01-01 23:40:00,23,2595,2264,9925,7400,1306,880,292,206,195,1108,-43,-77.0
4,2022-01-01 23:35:00,23,2621,2265,9898,7483,1321,879,292,206,194,1134,-42,-18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105099,2022-12-31 00:20:00,0,5996,2250,7582,5946,2043,956,291,203,203,4413,-35,-502.0
105100,2022-12-31 00:15:00,0,6000,2249,7677,5590,2005,954,289,202,202,4423,-35,-382.0
105101,2022-12-31 00:10:00,0,6002,2248,7883,5405,1959,956,289,201,201,4425,-35,-241.0
105102,2022-12-31 00:05:00,0,6025,2250,8170,5398,2035,956,289,201,200,4449,-35,-493.0
105103,2022-12-31 00:00:00,0,6039,2249,8262,5335,2048,955,287,200,202,4465,-35,-591.0

In [179]:
#save as csv
supply.to_csv('caisosupply.csv', index=False)